body {
  background: #288d26;
}

.car-image {
  width: 100px;
  position: absolute;
  left: 1px;
  transform-origin: center;
}

.down-arrow {
  transform: rotate(0.25turn);
}

.left-arrow {
  transform: rotate(0.5turn);
}

.up-arrow {
  transform: rotate(-0.25turn);
}
